<h1>Welcome to Andela School<h1>
	<form method='post' action='/login'>
		<!-- <p class = "login">
			Username:<input type = "text" name = "email" size = "20" maxlength = "30" placeholder = "Email" />
					</p>
		<p class = "login">
			Password: <input type = "password" name = "password" placeholder = "Password" />
		</p> -->
		<input type = "text" id="email" name = "email" size = "20" placeholder = "Email">
		<input type = "password" name = "password" placeholder = "Password" >
		<input type = "submit" value = "Login" href = "userProfile.erb">

	</form>

<div class = "sign">

<p style = "font-size = 18px" > Don't have an account? </p>
<p style= "font-size=33px; " ><a href="signup">Sign up</a></p>
</div>