<h2>Register to become a Member :)</h2>

<form action = "/newUser" method ="post">
	<p>
		name: <input type = "text" id="name" name="name" size = "20" placeholder = "name" /> <br/>
		surname: <input type = "text" id="surname" name="surname" size = "20" placeholder = "surname" /> <br/>
		email: <input type = "text" size = "20" id="email" name="email"placeholder = "Email" /> <br/>
		password: <input type = "password" id="password" name="password" size = "20" placeholder = "Password" /> <br/>
		Confirm password: <input type = "password" size = "20" placeholder = "Password" /> <br/>
		<input type ="submit" value='Submit'>
	</p>

</form>